@font-face {
  font-family: Balboa;
  src: url("https://raw.githubusercontent.com/Andraez/balboa/main/FontsFree-Net-Balboa-W01-Bold.ttf") format("truetype");
}

.balboa {
  font-family: Balboa, sans-serif;
}
